<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TodoList</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home 
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="isUserConnected">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-list"></i>
          Select category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
      <li class="nav-item active" *ngIf="isUserConnected">
        <a class="nav-link" href="#">
          <i class="fa fa-plus-square-o"></i>
          Add category 
        </a>
      </li>
      <li class="nav-item active" *ngIf="!isUserConnected">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          <i class="fa fa-user-circle"></i>
          Sign in
        </a>
      </li>
      <li class="nav-item active" *ngIf="!isUserConnected">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          <i class="fa fa-user-circle"></i>
          register
        </a>
      </li>
      <li class="nav-item active" *ngIf="isUserConnected">
        <a class="nav-link" href="#" (click)="logOut()">
          <i class="fa fa-user-circle"></i>
          Sign out
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>