<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Todo List</h1>
    <p class="lead">Welcome to todo-list app! </p>
  </div>
</div>

<div class="row">
  <app-todo-list class="col-md-4" *ngFor="let category of categoryList | async" [categoryId]="category._id" (selectedCategory)="onCategorySelect($event)"></app-todo-list>
</div>

<app-add-todo-modal *ngIf="selectedCategory" [categoryId]="selectedCategory.id" [categoryName]="selectedCategory.name"></app-add-todo-modal>
