<div class="row">
  <div class="col-md-6" style="margin: auto auto; margin-top: 10%">
    <div class="card" >
        <div class="card-body"> 
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h5 class="card-title">Login</h5>
            <p class="card-text">Please enter username and password.</p>
            <div class="form-group">
              <input type="text" formControlName="username" class="form-control" [ngClass]="{'invalidInput':loginFormSubmitted && loginFormControls.username.errors}" placeholder="username" id="username" required>
              <div *ngIf="loginFormSubmitted && loginFormControls.username.errors">
                  <div *ngIf="loginFormControls.username.errors.required">
                    <span class="badge badge-danger">Username is required</span>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="password" id="password" [ngClass]="{'invalidInput':loginFormSubmitted && loginFormControls.password.errors}">
              <div *ngIf="loginFormSubmitted && loginFormControls.password.errors">
                <div *ngIf="loginFormControls.password.errors.required">
                  <span class="badge badge-danger">Password is required</span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Button</button>
          </form>
          <span *ngIf="userAuthenticationFailed" class="badge badge-danger">user authentication failed</span>
        </div>
      </div>
  </div>
</div>