<form [formGroup]="addCategoryFormGroup" (ngSubmit)="onCategoryAddSubmit()">
  <div class="form-group">
    <label for="categoryName">Category name</label>
    <input type="text" formControlName="name" class="form-control" id="categoryName" placeholder="Enter category name">
  </div>
  <div class="form-group">
    <label for="categoryDescription">Category description</label>
    <input type="text" formControlName="description" class="form-control" id="categoryDescription" placeholder="Enter category description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <span *ngIf="categoryAddedError" class="badge badge-danger">{{categoryAddedErrorMessage}}</span>
</form>