<section id="">
  <div class="row computerBackground">
    <div class="helloTodo col-md-6 col-sm-12 col-xs-12">
      <h1 class="display-4">Project Management</h1>
      <p class="lead">A basic todo app </p>
      <hr class="my-4">
      <p>Manage your categories and share with your co-workers</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item transparent">
          <h4>
            <i class="fa fa-check-circle-o"></i> Create custom categories
          </h4>
        </li>
        <li class="list-group-item transparent">
          <h4>
            <i class="fa fa-check-circle-o"></i> Share with co-workers
          </h4>
        </li>
        <li class="list-group-item transparent">
          <h4>
            <i class="fa fa-check-circle-o"></i> ... Another thing.
          </h4>
        </li>
      </ul>
      <button type="button" class="btn btn-info btn-lg" style="margin: 5%" routerLink="/register" routerLinkActive="active">Register now!</button>
    </div>  
    <div class="col-md-6 col-sm-12 col-xs-12 mainLogin">
      <app-login></app-login>
    </div>
  </div>
</section>

