<ul class="list-group" *ngIf="category">
  <li class="list-group-item disabled">{{category.name}}</li>
  <li *ngFor="let todo of todos | async"  class="list-group-item">
      <span [ngClass]="{'doneTodo': todo.isDone, 'notDoneTodo': !todo.isDone}">{{todo.title}}</span>
      <button (click)="setTodoState(todo._id, todo.isDone)" style="float: right;">
        <span *ngIf="!todo.isDone"><i class="fa fa-circle-o"></i></span>
        <span *ngIf="todo.isDone"><i class="fa fa-check-circle-o"></i></span>
      </button>
      <button (click)="deleteTodo(todo._id)" style="float: right;">
        <i class="fa fa-trash"></i>
      </button>
  </li>
  <li class="list-group-item disabled">
    <button type="button" (click)="changeSelectedCategory()" class="btn" data-toggle="modal" data-target="#addTodoModal">
      <i class="fa fa-plus"></i>
    </button>
  </li>
</ul>


